<div class="contain">
    <h1 class="text-left text-5xl font-bold text-black align-middle mb-12 not-hid "> 
      <b>No matter how much you own,</b> <br>
         you deserve the best piece of <br>
          digital asset investment.</h1>
    <p class="text-left text-3xl font-semibold text-black align-middle mob-hid head"> 
      <b>No matter how much you own,</b>
      you deserve the best piece of digital asset investment.</p>
    
         <section class="list ">
          <aside class="aside text-left">
            <p class="text-left">
              Every investor deserves to access the digital 
               asset investment that is both stable and
                profitable. Haru lies in the very heart of our ambitions.
           </p>
          </aside>
          
          <ul class="aside-list-head norder ">
            <li class="aside-list">
              <h1 class="text-left place-self-start">Successful Track Record</h1>
              <p class="text-left"> Our journey in crypto investment began in Block Crafters Capital
                Team Haru has built expertise on crypto fund 
                management with diverse investment strategies</p>
            </li>
            <li class="aside-list">
              <h1 class="text-left  place-self-start">Experts in Digital Asset Trading</h1>
              <p class="text-left">eam Haru features a group of professional traders and
                a competent system trading team. We generate a stable profit based on market inefficiency</p>
            </li>
            <li class="aside-list">
              <h1 class="text-left  place-self-start">Partnership with Global Digital Asset Management Firms</h1>
              <p class="text-left">Collaborating with top global digital asset management firms,
                Haru expands its global partnership. All partners of Haru meet our strict set of selection criteria</p>
            </li>
          </ul>
         </section>
  </div>
  
  
  
  
  <!-- component -->
  <div>
       <section class="text-gray-700">
         <div class="container px-5 py-24 mx-auto">
           <div class="text-center mb-20">
             <h1 class="sm:text-3xl text-2xl font-medium text-center title-font text-gray-900 mb-4">
               Frequently Asked Question
             </h1>
             <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto">
               The most common questions about how our business works and what
               can do for you.
             </p>
           </div>
           <div class="flex flex-wrap lg:w-4/5 sm:mx-auto sm:mb-2 -mx-2">
             <div class="w-full lg:w-1/2 px-4 py-2">
               <details class="mb-4">
                 <summary class="font-semibold  bg-gray-200 rounded-md py-2 px-4">
                   How Long is this site live?
                 </summary>
  
                 <span>
                   Laboris qui labore cillum culpa in sunt quis sint veniam.
                   Dolore ex aute deserunt esse ipsum elit aliqua. Aute quis
                   minim velit nostrud pariatur culpa magna in aute.
                 </span>
               </details>
               <details class="mb-4">
                 <summary class="font-semibold bg-gray-200 rounded-md py-2 px-4">
                   Can I install/upload anything I want on there?
                 </summary>
  
                 <span>
                   Laboris qui labore cillum culpa in sunt quis sint veniam.
                   Dolore ex aute deserunt esse ipsum elit aliqua. Aute quis
                   minim velit nostrud pariatur culpa magna in aute.
                 </span>
               </details>
               <details class="mb-4">
                 <summary class="font-semibold  bg-gray-200 rounded-md py-2 px-4">
                   How can I migrate to another site?
                 </summary>
  
                 <span>
                   Laboris qui labore cillum culpa in sunt quis sint veniam.
                   Dolore ex aute deserunt esse ipsum elit aliqua. Aute quis
                   minim velit nostrud pariatur culpa magna in aute.
                 </span>
               </details>
             </div>
             <div class="w-full lg:w-1/2 px-4 py-2">
               <details class="mb-4">
                 <summary class="font-semibold  bg-gray-200 rounded-md py-2 px-4">
                   Can I change the domain you give me?
                 </summary>
  
                 <span class="px-4 py-2">
                   Laboris qui labore cillum culpa in sunt quis sint veniam.
                   Dolore ex aute deserunt esse ipsum elit aliqua. Aute quis
                   minim velit nostrud pariatur culpa magna in aute.
                 </span>
               </details>
               <details class="mb-4">
                 <summary class="font-semibold  bg-gray-200 rounded-md py-2 px-4">
                   How many sites I can create at once?
                 </summary>
  
                 <span class="px-4 py-2">
                   Laboris qui labore cillum culpa in sunt quis sint veniam.
                   Dolore ex aute deserunt esse ipsum elit aliqua. Aute quis
                   minim velit nostrud pariatur culpa magna in aute.
                 </span>
               </details>
               <details class="mb-4">
                 <summary class="font-semibold  bg-gray-200 rounded-md py-2 px-4">
                   How can I communicate with you?
                 </summary>
  
                 <span class="px-4 py-2">
                   Laboris qui labore cillum culpa in sunt quis sint veniam.
                   Dolore ex aute deserunt esse ipsum elit aliqua. Aute quis
                   minim velit nostrud pariatur culpa magna in aute.
                 </span>
               </details>
             </div>
           </div>
         </div>
       </section>
     </div>
  <br>
  
  <section class="h-auto ">
      <h1 class="mb-32 text-center">Our Core Values</h1>
      <ul class="list-head">
        <li class="list-list mb-6">
          <img src="../assets/img-simple.svg" alt="" class="">
          <h2>Keep It Simple</h2>
          <p>Your investment doesn’t need to be complicated,
            our service is always simple.</p>
        </li>
        <li class=" list-list mb-6">
          <img src="../assets/img-benefits.svg" alt="">
          <h2>Equal Benefits for All</h2>
          <p>We promise the equal benefits
            to all customers.</p>
        </li>
        <li class="list-list">
          <img src="../assets/img-limits.svg" alt="">
          <h2>Challenge the Limits</h2>
          <p>We don’t settle on ‘good enough,’
            we always push the boundaries.</p>
        </li>
      </ul>
  </section>
  
  <section class=" container max-w-5xl h-32 mx-auto">
    <div class="flex flex-col text-center py-6 pt-48 pb-64">
      <h1 class="">Join the Team</h1>
      <p class="mb-20">Halocoin is looking for new crews to join the team. If you have questions regarding the recruitment, contact us.</p>
      <a href="" class="text-center"><button class="but">See Open Positions</button></a>
    </div>
  </section>
  
      
       
    
    

