
<section class="content-section mx-auto text-left">
    <!-- <h1 class="order-1">How it works</h1> -->
    <h1 class="text-left">
        <b class="">The big ideas behind</b>
        <br>
        our earn rates</h1>
        <div class="thi  bg-gray-100 cent">
          <aside class="asi md:order-last mb-8">
            <img src="../assets/trade-your-way.png" alt="" class=" fill-current mx-auto">
            </aside>
  
         <main class="mai md:order-first">
        <p class="align-middle text-left">Most players in the industry chose the deposit-lending system as their business models. In this structure, what borrowers pay the service determines how much you can earn.At this point, the industry average for lending rates is getting lower - and so is the maximum earn rates you can get elsewhere.
            <br>
          At Haru, we do not have borrowers for your deposits. Instead, we invest them for you with minimized risk.That’s why your earnings at Haru can go higher than at the other services.</p>
        </main>
    </div>
  </section> 
  
  <br>
  
  <section class="content-section mx-auto">
    
    <div class="thi cent">
        <aside class="asi">
            <img src="../assets/img-allocate.svg" alt="" class="mx-auto">
        </aside>         
        <main class="mai">
          <h1 class="text-left">When the market fluctuates, <br> we surf on it.</h1>
            <h2 class="fUyedo text-left">We allocate your assets to various strategies that turn market volatility into profit.
                    <br>
                    <br>
                Some of the strategies that we work with include :
                <ul class=" yrqPY fUyedo text-left">
                    <li class=" text-left"><strong>Arbritrage trading</strong> sthat leverages BTC and Eth price gap between crypto exchanges</li>
                    <li class="text-left mt-3"><strong> Market neutral stategy</strong> based on the price stability mechanism at future exchange</li>
                    <li class="text-left mt-3"><strong>Spread trading</strong> that focuses on the votality of BTC/ETH future contracts</li>
                </ul>
            </h2>
        </main>
    </div>
  </section>
  
  <br>
  
  <section class="content-section h-auto mx-auto
  max-w-screen-md text-center flex-col mt-20 md:mb-40 ">
    <h2 class=" text-center text-xl font-semibold leading-6 mb-2 md:text-2xl">sounds complicated?</h2>
    <p class="px-6 md:px-3 mb-6 md:font-bold text-base md:leading-8">It’s your turn to earn with these 
        strategies, <br> <strong>without barriers.</strong></p>
    <p class="px-6 md:px-8 lg:px-3">This is why only a few investors with substantial seed money and expertise have had access to these strategies. This way, they have earned a profitable yet stable return. Haru breaks down the barriers to such strategies for every investor.
    </p>
  </section>
  <br>
  
  <section class="thi flex flex-col px-6 lg:px-48 text-center max-w-full bg-green-300 h-auto cent">
    <main class=" mb-10 px-6 md:order-2 mai">
        <h1 class="text-center"> Start Earning Today
        <br>
        No Matter How Much You Own.
      </h1>
      <h3 class="text-center">
        No Fee, No Barriers.
      </h3>
      <a href="" class="bg-teal-500 text-center">
        <button class="but ">Get Started for Free</button>
      </a>
    </main>
    <aside class="md:order-1 asi">
        <img src="../assets/eos_powerful-tool.svg" alt="">
    </aside>
   </section>
