
<div class="content-section mx-auto">
    <section class="sec text-center">
        <main class="">
            <p class="">Lorem, ipsum.</p>
            <h1 class="text-3xl"><b>Automate</b>
                <br>
                your investment. 
            </h1>
            <p class="">Keep investing while you’re asleep.
                <br>
                The automatic investment algorithm follows the strategy you 
                choose and monitors the market 24/7 to create earning opportunities for you.</p>
                <a href="" class="bg-teal-500">
                    <button class="but">Start Investing</button>
                </a>
        </main>
        <aside class=" justify-center">
            <img src="../assets/hero.svg" alt="">
        </aside>
    </section>

    <!-- <section class="mt-48">
        <h2><b>Select the investment strategies and,</b>
        <br>
        target a high return
        </h2>
    </section>  -->

    <section class="sec text-left">
       <aside class="mb-20">
           <h1 class="text-center text-6xl font-extrabold"><b>
               It's easier
               <br>
               than ever to 
           </b>
           <br>
           put your crypto
           <br>
           to work
        </h1>
        </aside>
         <main class="">
            <ul class="ewOBDr">
                <li class="">
                    <h2 class="">Keep your hands off trading</h2> 
                    <p class="ehCqWV">The system monitors the market for you 24/7,
                        automatically buying and selling crypto to generate a high return.</p>
                </li>
                <li class="">
                    <h2 class="">No Requirements</h2> 
                    <p class="">No need to have coding skills or financial knowledge, no high minimum investment amount.
                    </p>
                </li>
                <li class="">
                    <h2 class="">Zero Fee</h2> 
                    <p class="">Try using a strategy designed by professionals with no management fee. 
                        There is no fee unless earnings exceed 15% APR.</p>
                </li>
            </ul>
        </main>
        
    </section>

    <section class="">
        <header class="">
            <h2 class="">

            </h2>
            <p class=""></p>
        </header>

        <div class="">

        </div>
    </section>


    <div class="bg-blue-400">
        <div class="flex flex-col w-full kBJmz mx-auto px-4">
            <aside class="dLTAA asidee order-last">
                <img src="../assets/check-your-investment.svg" alt="">
            </aside>
            <main class="mainn">
                <h2 class="ha">Check your investment performance biweekly!</h2>
                <p class="pa">
                    Check your investment performance biweekly!
                    Your Haru Invest return rate is updated twice a month on the 15th and the last day of each month.</p>
            </main>
        </div>
    </div>
</div>

