<section class="content-section mx-auto pt-40">
    <div class="content-wrap bg-gray-100">
        <main class=" text-center mai">
            <h1 class="ipqzim text-center align-middle">
                Crypto In,
                <br>
                <span class="text-purple-700">More Crypto Out</span>
                <br>
                It's that simple
            </h1>

            <p class="text-center align-middle">The best way to grow your crypto asset is here.
                Effortless yet stable. That’s how your earnings should be.</p>
            
            <a href="" class="text-center justify-self-center align-bottom"><button class="but">Get Started</button></a>
        </main>

        <aside class="asi">
            <img src="../assets/feature1.gif" alt="">
        </aside>
    </div>

    <div class="bg-grey-300 mt-64 mx-auto">
        <ul class="content-wrap cent">
            <li class="">
                <h3 class="">321K+</h3>
                <p class="">Total Number of Earnings Payout</p>
            </li>
            <li class="">
                <h3 class="">$56M+</h3>
                <p class="">Total Transaction Volume</p>
            </li>
            <li class="">
                <h3 class="">15.0%</h3>
                <p class="">Earn Bitcoin Up To*</p>
            </li>
        </ul>
    </div>
</section>
 

<div class="content-section mx-auto text-center">
    <h1 class="text-center ani-text">
        Say Goodbye to the
        <br>
        <b class="typewriter text-purple-800">
        <a href="" class="typewrite text-purple-800" data-period="2000" data-type='[ "Stressful", "Volatile", "Difficult", "Sleepless", "Challenging" ]'>
            <span class="wrap"></span>
          </a>
        </b>
          <br>
          Crypto market.
    </h1>
    <p class="text-center">The crypto market may be volatile but your crypto doesn’t have to be. We know crypto,
         we know how you can earn better. When the market fluctuates, we surf on it.
    </p>


    <section class="currencies">
        <div class="CurrencyIcon jqAvK"></div>
        <div class="CurrencyIcon gHsSYz"></div>
        <div class="CurrencyIcon duxBlm fpVNYV"></div>
        <div class="CurrencyIcon blRAEx"></div>
        <div class="CurrencyIcon fTuVGg"></div>
    </section>

    <a href="#" class="text-center underline">let us explain></a>

</div>

<div class="mt-64 h-auto">
    <div class="content-wrap bg-purple-800 mx-auto">
        <div class="mane text-center">
            <h2 class="text-2xl font-bold text-white">INVEST</h2>
            <h2 class="text-2xl font-bold"> <b class="font-normal text-white">Up for a Challenge?</b>
                <br>
                Try Investing.</h2>
            <p class="text-white">
                We’ve mixed and matched the best strategies for you.
                <br>
                It’s a bit of challenge, but with a minimized risk..</p>
                <a href="" class="text-center justify-self-center align-bottom"><button class="butt ">Learn more about haru Invest</button></a>
        </div>

        <aside class="asa">
            <img src="../assets/tryinvesting.svg" alt="">
        </aside>
    </div>
</div>

<section class="content-section text-center mx-auto">
    <h2 class="text-4xl font-bold">Haru in The Media</h2>
    <ul class="content-wrap listt cent">
        <li class="listt-item">
            <img src="../assets/yahoo-2x.png" alt="" class="img-yah mx-auto">
        </li>
        <li class="listt-item">
            <img src="../assets/marketwatch-2x.png" alt="" class="market-watch mx-auto">
        </li>
        <li class="listt-item">
            <img src="../assets/marketsinsider-2x.png" alt="" class="market-insider mx-auto">
        </li>
        <li class="listt-item">
            <img src="../assets/bitcoin-com-2x.png" alt="" class="bit mx-auto">
        </li>
        <li class="listt-item">
            <img src="../assets/ap-2x.png" alt="" class="ap mx-auto">
        </li>
    </ul>
</section>
